#signup #password_requirements li::marker {
  font-size: 20px;
}

#signup #password_requirements .valid::marker {
  color: #74cc15;
}

#signup #password_requirements .invalid::marker {
  color: #dc3545;
}

a {
  text-decoration: none;
}

@media (min-width: 320px) {
  h3 {
    font-size: medium;
  }
  p {
    font-size: 13.5px;
  }
}